@font-face {
  font-family: Inter;
  src: url(../assets/Font/Inter-Regular.ttf);
}

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: Inter;
  background: #136ad2;
  background: #fff;
}

.toggle-bars {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}
.toggle-bars .bar {
  width: 35px;
  background-color: #fff;
  margin: 7px 0;
  height: 2px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 23px;
  position: fixed;
  width: 97%;
  z-index: 1000;
  background-color: #070707;
  transition: background-color 0.3s ease-in-out;
}

.navbar:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#toggle {
  display: none;
}

.logo {
  color: #fff;
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  float: left;
  text-align: center;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  text-decoration: none;
  color: #267dff;
  transition: color 0.3s ease-in-out;
}

#hero {
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../assets/Hero.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 20px;
}
.hero-title {
  font-size: 50px;
  font-family: Inter;
  color: #ffffff;
  text-align: center;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
  font-family: Inter;
}

a:hover {
  text-decoration: none;
  color: #267dff;
  transition: color 0.3s ease-in-out;
}

.samcis {
  color: #eab600;
}

.nav-logo {
  color: #eab600;
  font-size: 24px;
}

.hero-button {
  margin-top: 20px;
  background-color: #eab600;
  color: #070707;
  border: none;
  width: 181px;
  padding: 22px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 26px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.4s;
  cursor: pointer;
  height: 35px;
  border-radius: 40px;
}

.hero-button:hover {
  color: white;
}

.hero-logo {
  color: #eab600;
}

.about-container {
  padding-top: 5%;
  padding-left: 5%;
  display: flex;
  align-items: center;
  padding-bottom: 16%;
  background-color: #070707;
}

.image {
  flex: 1;
  margin-right: 20px;
}

.about-text {
  flex: 1;
  font-size: 25px;
  padding-right: 50px;
  color: white;
}

.aboutp-text {
  font-size: 25px;
  color: white;
}
img {
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  border-bottom-left-radius: 23px;
  border-bottom-right-radius: 23px;
}
.about-image {
  max-width: 90%;
  max-height: 90%;
  float: left;
}
.univ-container {
  background-color: white;
}
.samcis-container {
  background-color: #eab600;
}
.odd,
.even {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 30px;
}
.even {
  background-color: #070707;
}
.univ-header,
.samcis-header {
  padding: 20px;
  background-color: #4682b4;
}
.samcis-header {
  background-color: #232023;
}
.univ-title,
.samcis-title {
  margin: 0;
  align-self: center;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: white;
}
.samcis-title {
  color: #eab600;
}
.samcis-org-odd,
.samcis-org-even,
.image-div-odd,
.image-div-even {
  margin: 20px;
}
.univ-title-odd,
.title-even,
.samcis-title-odd,
.samcis-title-even {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}
.univ-title-even,
.samcis-title-even {
  text-align: right;
}
.univ-title-even {
  color: #4682b4;
  font-size: 40px;
}
.samcis-title-odd {
  color: black;
}
.samcis-org-even {
  order: 1;
}
.image-div-even {
  order: 2;
}
.odd-image,
.even-image {
  max-width: 300px;
  max-height: 300px;
}
.odd-text,
.even-text {
  color: black;
  font-size: 19px;
  margin: 0;
  margin-top: 10px;
}
.even-text {
  text-align: right;
  color: white;
}

.hamburger {
  position: absolute;
  top: 5em;
  right: 5%;
  margin-left: -2em;
  margin-top: -45px;
  width: 2em;
  height: 45px;
  z-index: 5;
}

/* xs */
@media screen and (max-width: 475px) {
  .hero-title {
    font-size: 30px;
    position: relative;
    padding-right: 30px;
  }
  .hero-button {
    padding: 8px;
  }
  .about-text {
    padding: 20px;
    order: 2;
  }
  .aboutp-text {
    font-size: 10px;
    text-align: center;
    padding: 10px;
    margin-right: 30px;
  }
  .about-container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .image {
    order: 1;
    margin: 0;
  }
  .about-image {
    max-width: 400px;
    max-height: 400px;
    margin: 0px;
    float: none;
  }

  .about-title {
    margin: 0;
    font-size: 20px;
    text-align: center;
    margin-right: 30px;
  }
  .univ-title,
  .samcis-title {
    margin: 0;
    font-size: 20px;
    text-align: center;
    margin-right: 30px;
  }
  .odd,
  .even {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .odd-image,
  .even-image {
    max-width: 400px;
    max-height: 400px;
    margin: 0px;
    float: none;
  }
  .univ-title-odd,
  .univ-title-even,
  .samcis-title-even,
  .samcis-title-odd {
    margin: 0;
    font-size: 20px;
    text-align: center;
    margin-right: 30px;
  }
  .odd-text,
  .even-text {
    font-size: 10px;
    text-align: center;
    padding: 10px;
    margin-right: 30px;
  }
  .univ-org-even,
  .univ-org-odd {
    padding: 10px;
  }
  .image-div-even,
  .image-div-odd {
    padding: 0;
    margin: 20px;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 100%;
    height: 4px;
    background-color: white;
    position: absolute;
    transition: 0.4s;
  }

  .bar1 {
    top: 10px;
  }
  .bar2 {
    top: 20px;
  }
  .bar3 {
    top: 30px;
  }

  .hamburger {
    margin-right: 2em;
    margin-top: -63px;
    width: 2em;
    height: 45px;
    z-index: 5;
  }

  .hamburger div {
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: white;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
  }

  .nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }

  .nav-links {
    text-align: left;
  }

  .nav-links a {
    position: relative;
    text-decoration: none;
    color: white;
    text-align: left;
    font-size: 2.5em;
    font-family: "Poppins";
    display: block;
    transition: color 0.2s ease-in-out;
    margin-bottom: 100px;
    letter-spacing: 1px;
  }

  .nav-links a:hover {
    color: white;
  }

  #toggle:checked + .hamburger .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    margin-top: 0px;
  }

  #toggle:checked + .hamburger .bar2 {
    opacity: 0;
  }

  #toggle:checked + .hamburger .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
    margin-top: -4px;
  }

  #toggle:checked + .hamburger + .nav-links {
    top: 0;
    transform: scale(1);
  }
}

/* sm */
@media screen and (min-width: 475px) and (max-width: 640px) {
  .hero-title {
    font-size: 30px;
    position: relative;
    padding-right: 30px;
  }
  .hero-button {
    padding: 8px;
  }
  .about-text {
    padding: 20px;
    order: 2;
  }
  .aboutp-text {
    font-size: 15px;
    text-align: center;
    padding: 10px;
    margin-right: 30px;
  }
  .about-container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .image {
    order: 1;
    margin: 0;
  }
  .about-image {
    max-width: 400px;
    max-height: 400px;
    margin: 0px;
    float: none;
  }

  .about-title {
    margin: 0;
    font-size: 30px;
    text-align: center;
    margin-right: 30px;
  }
  .univ-title,
  .samcis-title {
    margin: 0;
    font-size: 20px;
    text-align: center;
    margin-right: 30px;
  }
  .odd,
  .even {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .odd-image,
  .even-image {
    max-width: 400px;
    max-height: 400px;
    margin: 0px;
    float: none;
  }
  .univ-title-odd,
  .univ-title-even,
  .samcis-title-even,
  .samcis-title-odd {
    margin: 0;
    font-size: 30px;
    text-align: center;
    margin-right: 30px;
  }
  .odd-text,
  .even-text {
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin-right: 30px;
  }
  .univ-org-even,
  .univ-org-odd {
    padding: 10px;
  }
  .image-div-even,
  .image-div-odd {
    padding: 0;
    margin: 20px;
  }
  .bar1,
  .bar2,
  .bar3 {
    width: 100%;
    height: 4px;
    background-color: white;
    position: absolute;
    transition: 0.4s;
  }

  .bar1 {
    top: 10px;
  }
  .bar2 {
    top: 20px;
  }
  .bar3 {
    top: 30px;
  }

  .hamburger {
    margin-right: 2em;
    margin-top: -63px;
    width: 2em;
    height: 45px;
    z-index: 5;
  }

  .hamburger div {
    position: relative;
    width: 3em;
    height: 7px;
    border-radius: 3px;
    background-color: white;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
  }

  .nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }

  .nav-links {
    text-align: left;
  }

  .nav-links a {
    position: relative;
    text-decoration: none;
    color: white;
    text-align: left;
    font-size: 2.5em;
    font-family: "Poppins";
    display: block;
    transition: color 0.2s ease-in-out;
    margin-bottom: 100px;
    letter-spacing: 1px;
  }

  .nav-links a:hover {
    color: white;
  }

  #toggle:checked + .hamburger .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    margin-top: 0px;
  }

  #toggle:checked + .hamburger .bar2 {
    opacity: 0;
  }

  #toggle:checked + .hamburger .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
    margin-top: -4px;
  }

  #toggle:checked + .hamburger + .nav-links {
    top: 0;
    transform: scale(1);
  }
}

/* md */
@media screen and (min-width: 640px) and (max-width: 768px) {
  .hero-title {
    font-size: 40px;
  }
  .hero-button {
    padding: 12px;
  }
  .about-text {
    padding-right: 20px;
  }
  .aboutp-text {
    font-size: 15px;
  }
  .about-container {
    padding-bottom: 5%;
  }
  .image {
    margin: 0;
  }
  .about-title {
    margin: 0;
    font-size: 30px;
  }
  .univ-title,
  .samcis-title {
    font-size: 30px;
  }
  .odd,
  .even {
    padding: 20px;
  }
  .odd-image,
  .even-image {
    max-width: 250px;
    max-height: 250px;
  }
  .univ-title-odd,
  .univ-title-even,
  .samcis-title-even,
  .samcis-title-odd {
    font-size: 30px;
    margin: 0;
  }
  .odd-text,
  .even-text {
    font-size: 15px;
  }
  .univ-org-even,
  .univ-org-odd {
    padding: 10px;
  }
  .image-div-even,
  .image-div-odd {
    padding: 0;
    margin: 20px;
  }
}

/* lg */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-title {
    font-size: 45px;
  }
  .hero-button {
    padding: 12px;
  }
  .about-text {
    padding-right: 25px;
  }
  .aboutp-text {
    font-size: 20px;
  }
  .about-container {
    padding-bottom: 5%;
  }
  .image {
    margin: 0;
  }
  .about-title {
    margin: 0;
    font-size: 35px;
  }
  .univ-title,
  .samcis-title {
    font-size: 35px;
  }
  .odd,
  .even {
    padding: 25px;
  }
  .odd-image,
  .even-image {
    max-width: 275px;
    max-height: 275px;
  }
  .univ-title-odd,
  .univ-title-even,
  .samcis-title-even,
  .samcis-title-odd {
    font-size: 35px;
    margin: 0;
  }
  .odd-text,
  .even-text {
    font-size: 18px;
  }
  .univ-org-even,
  .univ-org-odd {
    padding: 10px;
  }
  .image-div-even,
  .image-div-odd {
    padding: 0;
    margin: 20px;
  }
}

/* xl */
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .hero-title {
    font-size: 55px;
  }
  .hero-button {
    padding: 17px;
  }
  .about-text {
    padding-right: 25px;
  }
  .aboutp-text {
    font-size: 23px;
  }
  .about-container {
    padding-bottom: 5%;
    padding-right: 15px;
  }
  .image {
    margin: 0;
  }
  .about-title {
    margin: 0;
    font-size: 40px;
  }
  .univ-title,
  .samcis-title {
    font-size: 40px;
  }
  .univ-title-odd,
  .univ-title-even,
  .samcis-title-even,
  .samcis-title-odd {
    font-size: 40px;
    margin: 0;
  }
  .odd-text,
  .even-text {
    font-size: 23px;
  }
  .univ-org-even,
  .univ-org-odd {
    padding: 20px;
  }
  .image-div-even,
  .image-div-odd {
    padding: 0;
    margin: 20px;
  }
}

/* 2xl */
@media screen and (min-width: 1280px) and (max-width: 1536px) {
  .hero-logo {
    font-size: 30px;
  }
  .hero-title {
    font-size: 70px;
  }
  .hero-button {
    padding: 20px;
  }
  .about-text {
    padding-right: 40px;
  }
  .aboutp-text {
    font-size: 30px;
  }
  .about-container {
    padding-bottom: 5%;
    padding-right: 15px;
  }
  .image {
    margin: 0;
  }
  .about-title {
    margin: 0;
    font-size: 40px;
  }
  .univ-title,
  .samcis-title {
    font-size: 40px;
  }
  .univ-title-odd,
  .univ-title-even,
  .samcis-title-even,
  .samcis-title-odd {
    font-size: 40px;
    margin: 0;
  }
  .odd-text,
  .even-text {
    font-size: 30px;
  }
  .univ-org-even,
  .univ-org-odd {
    padding: 20px;
  }
  .image-div-even,
  .image-div-odd {
    padding: 0;
    margin: 20px;
  }
}
